@import (less, reference) "~@gitterhq/styleguide/css/components/headings.css";
@import (less, reference) "~@gitterhq/styleguide/css/components/buttons.css";

@import "../../colors.less";
@import "../../text";
@import "../../break-points";

@topic-search-horizontal-spacing: 4rem;

.topic-search-button() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.8rem;
  margin-left: @topic-search-horizontal-spacing / 2;
  text-decoration: none;
  white-space:     nowrap;
  line-height: 1.4rem;
}

.topic-search__heading {
  &:extend(.h1 all);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.topics-search__avatar {
  background-color: white;
  box-sizing: border-box;
  padding: .3rem;
  border-radius: 4px;
  margin-right: 1.7rem;
  width: 36px;
  height: auto;
}

.topic-search__all-topics-link {
  color: @light;
  font-size: 2.4rem;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  @media @only-small { font-size: 2.8rem; }
}

.topic-search__deprecated-decoration {
  @badge-background-color: rgba(255, 255, 255, .35);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 1em;

  background-color: @badge-background-color;
  border-radius: 20px;

  color: @light;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
}

.topic-search__create-topic-link {
  &:extend(.subdued-button-clouds--small all);
  .topic-search-button();

  @media @only-small {
    margin-left: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.topic-search__watch-forum-button {
  &:extend(.secondary-button-clouds--small all);
  .topic-search-button();
  flex-direction: column;
  padding: .8em 1em;
  cursor: pointer;

  @media @only-small {
    margin: 0;
    margin-bottom: 1rem;
  }

  &.pending:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .05em;
    right: 0;
    transform: translateX(-100%);

    display: block;
    width: 35%;
    height: 2px;

    opacity: 1;
    background-color: currentColor;

    animation-name: pending-stripe-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.topic-search__watch-forum-button-text-item {
  width: 100%;
  height: 0;
  line-height: 0;

  &.hidden {
    opacity: 0;
  }
}

@keyframes pending-stripe-animation {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 35%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}


.topic-search__search-input {
  // TODO: Un-hide when search works
  visibility: hidden;

  width:            100%;
  margin-left: @topic-search-horizontal-spacing;
  padding:          1rem;
  padding-left: 1.5rem;
  border-bottom:    none;
  border-radius:    .4rem;
  background-color: @search-input-bg;
  color:            @light;
  font-family: @font-family;

  @media @only-small { display: none; }
}
